/* .box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: purple;
    color: white
} */

/* .content {
    background-color: azure;
    color: red;
    height: auto;
    width: auto;

}

.newClass {
    background-color: green;
} */
/* 
#div1{
    background-color: aqua;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 3px;
} */